body {
	margin: 0;
	font-family: Tahoma, sans-serif;
}

header {
	background-color: rgb(227,227,227);
	color: rgb(13, 44, 57); 
	padding-top: 3px;
}


.centralizado {
	width: 700px;
	margin: 0 auto;
	position: relative;
}

#logo {
	font-size: 1em;
	margin-top: 0;
	padding-top: 5px;
}

#logo span {
	color: rgb(250, 127, 0);
}

header h2 {
	font-size: 1.5em;
	font-weight: normal;
}

header p {
	font-size: 1em;
}

#pano-fundo {
	height: 320px;
	width: 620px;
	background: url(../img/entregador_site4.png) no-repeat top right;
}

#slogan {
	width: 300px;
}

header img {
	float: left;
	width: 200px;
}

header nav {
	clear: left;
	background-color: rgb(13, 42, 54);
	padding: 5px 0;
}

header li {
	display: inline;
	padding: 0px 10px;
	margin-right: 17px;
}
header li:last-child {
	margin-right: 0;	
}

header li:first-child {
	background-color: rgb(250, 127, 0);
	padding: 10px;
}

header a {
	color: #fff;
	text-decoration: none;
}

.contato {
	background-color: rgb(1, 21, 31);
	color: #fff;
	padding: 5px;
	width: 160px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px;
	position: absolute;
	top:0;
	right: 0;
}

.contato span {
	color: rgb(250, 127, 0);
}

main section {
	width: 210px;
	float: left;
	margin-right: 20px;
	border: 2px rgb(240, 240, 240) solid;
}

main section:last-child {
	margin-right: 0;
}
main img {
	width: inherit;
	height: 150px;
}

.destaque {
	margin-top: -15%;
	 clip-path: polygon(0 0, 100% 0, 100% 70%, 60% 70%, 50% 100%, 40% 70%, 0 70%);
	 background-color: rgb(13, 42, 54);
	 width: inherit;
	 height: 45px;
	 color: #fff;
}

.textoDestaque {
	margin-top: -5%;
	background-color: rgb(255, 255, 255);
	font-size: 90%;
}

.leiaMais li {
	border-radius: 5px;
	background-color: rgb(250, 127, 0);
	padding: 6px;
	color: rgb(250, 127, 0);
	width: 100px;
	font-weight: normal;
	font-size: 15px;	
	float: right;
	margin-top: 10%;
	margin-right: 5%;
	margin-bottom: 5%;
}	

.leiaMais a {
	color: rgb(255, 255, 255);
	text-decoration: rgb(255, 255, 255);
}




